# System files
thumbs.db
desktop.ini
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
instructions.md
node_modules/
vendor/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
build/
dist/

instructions_add.md
